.articles__main {
    color: white;
}

.articles__content {
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gold;
    text-decoration: underline;
}

h1 {
    text-align: center;
    
}