.main-content {
    background-color: rgb(45, 45, 45);
    color: white;
    display: grid;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gold;
    text-decoration: underline;
}

h1 {
    text-align: center;
    
}